* {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

@font-face {
  font-family: GraublauWeb;
  src: url("OPTIBodoni-Antiqua.otf") format("opentype");
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  padding: 48px;
}

/* 1.586 0.630517024 */
#card {
  background-color: #fffff0;
  padding: 16px 24px;
  width: 100%;
  max-width: 700px;
  height: 441.361917px;
  max-height: calc(0.630517024 * 100vw);
  text-align: center;
  border-radius: 2px;
  font-size: 48px;
  font-family: GraublauWeb;
}

#cardText {
  display: flex;
  flex-direction: column;
  /* color: #; */
}

.i {
  font-style: italic;
}
